.google-forms{
    display: flex;
    flex-direction: row;
    align-content: center;
}

.google-form{
    width: 50%;
    margin: 15px;
}

.form-check{
    display:flex;
    flex-direction: column;
}

.form-check-label{
    margin: 10px;
}

.custom-ads{
    width:50%;
}

.delete-button{
    width:50%;
}